<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script></script>
</head>
<body>
<div style="color: red; font-size: 20px">ERROR</div>
<div>{{message}}</div>
<input type="hidden" name="_csrf" value="{{_csrf.token}}">
<a href="/main"><button>Back to main</button></a>
</body>
</html>