<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lots</title>
    <style>
        #lot {
            border: 3px solid black;
            border-spacing: 2px;
        }
        #buy {
            border: 1px solid black;
            background-color: darkgrey;
            text-align: center;
            width: 40px;
            height: 20px;
        }
    </style>
</head>
<body>
<div>
    LOTS:<br>
    {{#lots}}
        <div id="lot">
            <span id="{{id}}">{{id}}</span>
            <span>{{time}}</span>
            <span>{{price}}</span>
            <span>{{item.name}}</span>
            <span>{{item.quantity}}</span>
            <span>{{seller.username}}</span>
            <div class="button" id="buy">Buy</div>
        </div>
    {{/lots}}
</div>
<div>
    <form method="post" action="/lots/create">
        <label><input type="number" name="id" placeholder="Enter item's id" required="required"></label>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <div><input type="submit" value="Create Lot"></div>
    </form>
    <div>
        {{#message}}
            {{.}}
        {{/message}}
    </div>
</div>
<div>Your Items:
    {{#items}}
        <div>
            <d>{{id}}</d>
            <span>{{name}}</span>
            <span>{{description}}</span>
            <span>{{#price}}{{.}}{{/price}}</span>
            <span>{{#quantity}}{{.}}{{/quantity}}</span>
        </div>
    {{/items}}
</div>
<div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <a href="/main">Back</a>
</div>
<script>
    let list = document.getElementsByClassName("button");
    for (let i = 0; i < list.length; i++) {
        list[i].addEventListener("click", function () {
            let id = list[i].parentElement.children[0].id;
            window.location.replace("/verification?id="+id);
        })
    }
</script>
</body>
</html>