<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verification</title>
</head>
<body>
<div>Your money: {{user.money}}</div>
<div>Do you wanna confirm your purchase?</div>
{{#lot}}
    <div>
        <span>{{id}}</span>
        <span>{{time}}</span>
        <span>{{price}}</span>
        <span>{{item.name}}</span>
        <span>{{item.quantity}}</span>
        <span>{{seller.username}}</span>
    </div>
    <div>
        <form method="post">
            <input type="hidden" value="{{id}}">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
            <input type="submit" value="Yes">
        </form>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <a href="/lots">No</a>
    </div>
{{/lot}}
</body>
</html>